doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Permaweb Dropper
    script(src="scripts/app.ts")
  body
    .wrap.container-fluid
      .hero 
        .row 
          .card.col-xs
            h1 Permaweb Dropper
            p.description Save your files forever on the 
              a(href="https://arweave.org", target="_blank") permaweb
              | . 
              br
              | You need to login with your Arweave wallet, don't have one? 
              a(href="https://www.arweave.org/wallet", target="_blank") Grab yours here.
              br
              | Have ArConnect? 
              a(href="#").arconnect Click here to login

            .row 
              .col-xs-12
                .dropzone.row.middle-xs
                  .col-xs
                    input#browse(type="file", name="browse" multiple)
                    p Drag and drop your Arweave wallet or 
                      a(href="#") browse for wallet

            .row 
              .tags
                p You can add custom tags to your uploaded files. All files deployed will have these tags.

                .row(style="display: none")
                  .col-xs-6.text-center Tag Name
                  .col-xs-6.text-center Tag Value
                  .col-xs-6.text-center
                    input.tagName(type="text")
                  .col-xs-6.text-center
                    input.tagValue(type="text")
                  
                p.text-center 
                  a.addTag(href="#") Add Tag

            .row
              .col-xs-12
                .row.files-container 

              .card-footer.col-xs-12 
                .row 
                  .col-xs-12.description
                    p Total files: #[span.total-files] | Total size: #[span.total-size]
                      br
                      | Cost: #[span.total-cost] + #[span.total-fee] (10% service fee)
                      br
                      | Total cost: #[span.total-cost-with-fee] AR
                    p Balance: #[span.balance] AR
                      br
                      | After deploying: #[span.balance-after] AR
                a#deploy.button(href="#") Upload


    footer
      | Built with ❤️ by Textury
      br
      a(href="https://github.com/textury/permaweb-dropper", target="_blank") Open Source