doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Permaweb Dropper
    script(src="scripts/app.ts")
  body
    .wrap.container-fluid
      .hero 
        .row 
          .card.col-xs
            h1 Permaweb Dropper
            p.description Save your files forever on the 
              a(href="https://arweave.org", target="_blank") permaweb
              | . 
              br
              | You need to login with your Arweave wallet, don't have one? 
              a(href="https://www.arweave.org/wallet", target="_blank") Grab yours here.

            .row 
              .col-xs-12
                .dropzone.row.middle-xs
                  .col-xs
                    input#browse(type="file", name="browse" multiple)
                    p Drag and drop your Arweave wallet or 
                      a(href="#") browse for wallet

              .col-xs-12
                .row 
                  .col-xs 
                    

    .container
      .tags
        p You can add custom tags to your uploaded files. 
          br
          | All files deployed will have these tags.

        table(style="display: none")
          thead
            tr
              th Tag Name
              th Tag Value
          tbody
            tr
              td
                input.tagName(type="text")
              td
                input.tagValue(type="text")
          
        a.addTag(href="#") Add Tag

      

    .container.files-container

    footer
      | Built with ❤️ by Cedriking
      br
      a(href="https://github.com/cedriking/permaweb-dropper", target="_blank") Open Source
      |  | 
      a.contact(href="https://arweave.net/CikNeeJibRjrRnDgyxDzH1ji66RoqXR_jkbgfcbI56w/index.html#/inbox/to=BPr7vrFduuQqqVMu_tftxsScTKUq9ke0rx4q5C9ieQU", target="_blank") Contact/Donate